
{% block header %}
 
{% endblock %}

{% block content %}
  <div class-"main-wrapper">
    <div class="informational"> 
    <h1> Welcome To The Trial Of Fishes! </h1>
    <p> This is where we will test fish and see which ones are the best </p>
    </div> 

    <div class="mag">
    <h2> Magazine Trial</h2>

    <div class="mag-body">

    <label class="container">Red
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container"> Green
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
    <label class="container"> Blue
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
     </div> 
     </div> 

   </div> 
{% endblock %}

<style>

.informational{ 
  background-color:black;
  text-align: center;
  align-items:center;
  border-radius: 5px;
  color:white;
  
}

.mag { 
  margin-top: 10vh;
  text-align:center;
}

.mag-body { 
  min-width: 30%;
    min-height: 30%;
  border: 1px solid black  
}
 </style> 